.b-blog-view-page-container {
  min-height: 100vh;
  transition: all 0.2s;
}

.scroll-to-top {
  cursor: pointer;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 0 6px;
  width: 36px;
  height: 36px;
  right: 20px;
  bottom: 20px;
  transition: 0.5s;

  &.hidden {
    bottom: -80px;
  }
}

@media only screen and (max-width: 768px) {
  .scroll-to-top {
    right: 15px;
    bottom: 15px;
  }
}