@import "/src/common/colors";

.b-blog-view {
  display: flex;
  flex-direction: column;
  width: 100%;
  // color: $b-text-pink;
  max-width: 1000px;
  font-weight: 500;
  transition: all 0.2s;

  .b-blog-view-image {
    border-radius: 10px;
  }

  img {
    width: 100%;
    border-radius: 10px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Prata", serif;
    margin-bottom: 30px;
    // color: $b-text-pink-darker;
  }
  p {
    margin-bottom: 30px;
  }
}