$b-pink: #edc5c5;
$b-pink-darker: #e3a5a5;
$b-pink-darkest: #da8a8a;

$b-olive: #c4d3b5;
$b-olive-darker: #b2c69e;
$b-olive-darkest: #5c7444;

$b-yellow: #fbe6b4;
$b-yellow-darker: #f9d98f;
$b-yellow-darkest: #f7ce6d;

