$b-pink: #edc5c5;
$b-pink-darker: #98375e;

$b-olive: #c4d3b5;
$b-olive-darker: #5c7444;

$b-lime: #d1f9c6;
$b-lime-darker: #516a5c;

$b-yellow: #fbe6b4;
$b-yellow-darker: #a67504;

$b-peach: #fbac8b;
$b-peach-darker: #a33326;

$b-tan: #fcf0cd;
$b-tan-darker: #fa9c5d;

$b-text-pink: #98375e;
$b-text-pink-darker: #42172c;
$b-text-pink-darkest: #2d111e;

$b-text-olive: #69963b;
$b-text-yellow: #f8ed73;
$b-text-blue: #213fae;
$b-text-red: #b90025;
$b-text-cyan: #0a8f94;