@import "src/common/colors";

.b-title {
  color: $b-yellow;
  font-family: "Prata", serif;
  font-size: 42px;
  line-height: 1;
}

.b-masthead {
  padding: 0 48px;
  // background-color: $b-tan;
  min-height: 100vh;
  // min-height: -webkit-fill-available;
  color: $b-tan-darker;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  gap: 20px;

  .b-masthead-title {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-size: clamp(36px, 8vw, 80px);
    transition: all 0.5s;
    line-height: 1;
    margin-bottom: 20px;
  }

  .b-masthead-subtitle {
    font-family: "Poppins", serif;
    font-size: clamp(22px, 3vw, 42px);
    line-height: 1;
  }
}

// @media only screen and (max-width: 942px) {
//   .b-masthead {
//     padding: 0 24px;
//     // gap: 50px;
//   }
// }

// @media only screen and (max-width: 800px) {
//   .b-masthead {
//     // align-items: center;
//     padding: 0 24px;
//     // gap: 20px;

//     // .b-masthead-title {
//     //   text-align: center;
//     //   font-size: 56px;
//     // }

//     // .b-masthead-subtitle {
//     //   text-align: center;
//     //   font-size: 26px;
//     // }
//   }
// }

@media only screen and (max-width: 576px) {
  .b-masthead {
    padding: 0 12px;

    // .b-masthead-title {
    //   text-align: center;
    //   font-size: 48px;
    // }

    // .b-masthead-subtitle {
    //   text-align: center;
    //   font-size: 22px;
    // }
  }
}
